Dsl/GeneratedCode/TestMartSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="TestMartSchema" targetNamespace="http://schemas.microsoft.com/dsltools/TestMart" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/TestMart" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- SoSA -->
  <xsd:element name="soSA" type="SoSA" substitutionGroup="core:modelElement" />
  <xsd:complexType name="SoSA">
    <xsd:annotation>
      <xsd:documentation>The root in which all other elements are embedded. Appears as a diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: SoSAHasImpactLeveled -->
          <xsd:element name="impactLeveled" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of SoSAHasImpactLeveled</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="unbounded" >
                  <xsd:element ref="soSAHasImpactLeveled">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from SoSAHasImpactLeveled needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="impactLevel" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SoSA Moniker -->
  <xsd:element name="soSAMoniker" type="SoSAMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="SoSAMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SoSA instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ImpactLevel -->
  <xsd:element name="impactLevel" type="ImpactLevel" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ImpactLevel">
    <xsd:annotation>
      <xsd:documentation>Elements embedded in the model. Appear as boxes on the diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ImpactLevelHasSocialConcern -->
          <xsd:element name="socialConcerned" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ImpactLevelHasSocialConcern</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="impactLevelHasSocialConcern" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ImpactLevelHasSocialConcern needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ImpactLevelHasEnvironmentalConcern -->
          <xsd:element name="environmentalConcerned" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ImpactLevelHasEnvironmentalConcern</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="impactLevelHasEnvironmentalConcern" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ImpactLevelHasEnvironmentalConcern needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ImpactLevelHasEconomicConcern -->
          <xsd:element name="economicConcerned" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ImpactLevelHasEconomicConcern</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="impactLevelHasEconomicConcern" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ImpactLevelHasEconomicConcern needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ImpactLevelHasTechnicalConcern -->
          <xsd:element name="technicalConcerned" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ImpactLevelHasTechnicalConcern</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="impactLevelHasTechnicalConcern" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ImpactLevelHasTechnicalConcern needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ImpactLevel Moniker -->
  <xsd:element name="impactLevelMoniker" type="ImpactLevelMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ImpactLevelMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ImpactLevel instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="name" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SocialConcern -->
  <xsd:element name="socialConcern" type="SocialConcern" substitutionGroup="core:modelElement" />
  <xsd:complexType name="SocialConcern">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SocialConcern Moniker -->
  <xsd:element name="socialConcernMoniker" type="SocialConcernMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="SocialConcernMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SocialConcern instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EnvironmentalConcern -->
  <xsd:element name="environmentalConcern" type="EnvironmentalConcern" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EnvironmentalConcern">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EnvironmentalConcern Moniker -->
  <xsd:element name="environmentalConcernMoniker" type="EnvironmentalConcernMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EnvironmentalConcernMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EnvironmentalConcern instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EconomicConcern -->
  <xsd:element name="economicConcern" type="EconomicConcern" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EconomicConcern">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EconomicConcern Moniker -->
  <xsd:element name="economicConcernMoniker" type="EconomicConcernMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EconomicConcernMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EconomicConcern instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TechnicalConcern -->
  <xsd:element name="technicalConcern" type="TechnicalConcern" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TechnicalConcern">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TechnicalConcern Moniker -->
  <xsd:element name="technicalConcernMoniker" type="TechnicalConcernMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TechnicalConcernMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TechnicalConcern instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SoSAHasImpactLeveled -->
  <xsd:element name="soSAHasImpactLeveled" abstract="true" type="SoSAHasImpactLeveled" substitutionGroup="core:modelElement" />
  <xsd:complexType name="SoSAHasImpactLeveled" abstract="true" >
    <xsd:annotation>
      <xsd:documentation>Embedding relationship between the Model and Elements</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ImpactLevel -->
          <xsd:element ref="impactLevel" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SoSAHasImpactLeveled Moniker -->
  <xsd:element name="soSAHasImpactLeveledMoniker" type="SoSAHasImpactLeveledMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="SoSAHasImpactLeveledMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SoSAHasImpactLeveled instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ImpactLevelHasSocialConcern -->
  <xsd:element name="impactLevelHasSocialConcern" type="ImpactLevelHasSocialConcern" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ImpactLevelHasSocialConcern">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end SocialConcern -->
          <xsd:element ref="socialConcern" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ImpactLevelHasSocialConcern Moniker -->
  <xsd:element name="impactLevelHasSocialConcernMoniker" type="ImpactLevelHasSocialConcernMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ImpactLevelHasSocialConcernMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ImpactLevelHasSocialConcern instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ImpactLevelHasEnvironmentalConcern -->
  <xsd:element name="impactLevelHasEnvironmentalConcern" type="ImpactLevelHasEnvironmentalConcern" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ImpactLevelHasEnvironmentalConcern">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end EnvironmentalConcern -->
          <xsd:element ref="environmentalConcern" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ImpactLevelHasEnvironmentalConcern Moniker -->
  <xsd:element name="impactLevelHasEnvironmentalConcernMoniker" type="ImpactLevelHasEnvironmentalConcernMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ImpactLevelHasEnvironmentalConcernMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ImpactLevelHasEnvironmentalConcern instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ImpactLevelHasEconomicConcern -->
  <xsd:element name="impactLevelHasEconomicConcern" type="ImpactLevelHasEconomicConcern" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ImpactLevelHasEconomicConcern">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end EconomicConcern -->
          <xsd:element ref="economicConcern" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ImpactLevelHasEconomicConcern Moniker -->
  <xsd:element name="impactLevelHasEconomicConcernMoniker" type="ImpactLevelHasEconomicConcernMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ImpactLevelHasEconomicConcernMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ImpactLevelHasEconomicConcern instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ImpactLevelHasTechnicalConcern -->
  <xsd:element name="impactLevelHasTechnicalConcern" type="ImpactLevelHasTechnicalConcern" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ImpactLevelHasTechnicalConcern">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end TechnicalConcern -->
          <xsd:element ref="technicalConcern" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ImpactLevelHasTechnicalConcern Moniker -->
  <xsd:element name="impactLevelHasTechnicalConcernMoniker" type="ImpactLevelHasTechnicalConcernMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ImpactLevelHasTechnicalConcernMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ImpactLevelHasTechnicalConcern instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
</xsd:schema>

