Dsl/GeneratedCode/TestMartSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="TestMartSchema" targetNamespace="http://schemas.microsoft.com/dsltools/TestMart" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/TestMart" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- SoSA -->
  <xsd:element name="soSA" type="SoSA" substitutionGroup="core:modelElement" />
  <xsd:complexType name="SoSA">
    <xsd:annotation>
      <xsd:documentation>The root in which all other elements are embedded. Appears as a diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: SoSAHasImpactLevels -->
          <xsd:element name="impactLevel" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of SoSAHasImpactLevels</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="soSAHasImpactLevels" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of SoSAHasImpactLevels needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: SoSAHasLegend -->
          <xsd:element name="legend" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of SoSAHasLegend</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="soSAHasLegend" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of SoSAHasLegend needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: SoSAHasTemporaryConcerns -->
          <xsd:element name="temporaryConcerned" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of SoSAHasTemporaryConcerns</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="soSAHasTemporaryConcerns" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of SoSAHasTemporaryConcerns needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SoSA Moniker -->
  <xsd:element name="soSAMoniker" type="SoSAMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="SoSAMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SoSA instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ImpactImmediate -->
  <xsd:element name="impactImmediate" type="ImpactImmediate" substitutionGroup="impactLevels" />
  <xsd:complexType name="ImpactImmediate">
    <xsd:annotation>
      <xsd:documentation>Elements embedded in the model. Appear as boxes on the diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ImpactLevels">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ImpactImmediateHasSolution -->
          <xsd:element name="solution" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of ImpactImmediateHasSolution</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="impactImmediateHasSolution" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ImpactImmediateHasSolution needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ImpactImmediate Moniker -->
  <xsd:element name="impactImmediateMoniker" type="ImpactImmediateMoniker" substitutionGroup="impactLevelsMoniker" />
  <xsd:complexType name="ImpactImmediateMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ImpactImmediate instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ImpactLevelsMoniker">
        <xsd:attribute name="name" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SocialConcern -->
  <xsd:element name="socialConcern" type="SocialConcern" substitutionGroup="concern" />
  <xsd:complexType name="SocialConcern">
    <xsd:complexContent>
      <xsd:extension base="Concern">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SocialConcern Moniker -->
  <xsd:element name="socialConcernMoniker" type="SocialConcernMoniker" substitutionGroup="concernMoniker" />
  <xsd:complexType name="SocialConcernMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SocialConcern instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ConcernMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EnvironmentalConcern -->
  <xsd:element name="environmentalConcern" type="EnvironmentalConcern" substitutionGroup="concern" />
  <xsd:complexType name="EnvironmentalConcern">
    <xsd:complexContent>
      <xsd:extension base="Concern">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EnvironmentalConcern Moniker -->
  <xsd:element name="environmentalConcernMoniker" type="EnvironmentalConcernMoniker" substitutionGroup="concernMoniker" />
  <xsd:complexType name="EnvironmentalConcernMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EnvironmentalConcern instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ConcernMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EconomicConcern -->
  <xsd:element name="economicConcern" type="EconomicConcern" substitutionGroup="concern" />
  <xsd:complexType name="EconomicConcern">
    <xsd:complexContent>
      <xsd:extension base="Concern">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EconomicConcern Moniker -->
  <xsd:element name="economicConcernMoniker" type="EconomicConcernMoniker" substitutionGroup="concernMoniker" />
  <xsd:complexType name="EconomicConcernMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EconomicConcern instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ConcernMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TechnicalConcern -->
  <xsd:element name="technicalConcern" type="TechnicalConcern" substitutionGroup="concern" />
  <xsd:complexType name="TechnicalConcern">
    <xsd:complexContent>
      <xsd:extension base="Concern">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TechnicalConcern Moniker -->
  <xsd:element name="technicalConcernMoniker" type="TechnicalConcernMoniker" substitutionGroup="concernMoniker" />
  <xsd:complexType name="TechnicalConcernMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TechnicalConcern instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ConcernMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Solution -->
  <xsd:element name="solution" type="Solution" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Solution">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: SolutionReferencesConcerns -->
          <xsd:element name="concerns" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of SolutionReferencesConcerns</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="solutionReferencesConcerns" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of SolutionReferencesConcerns needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Solution Moniker -->
  <xsd:element name="solutionMoniker" type="SolutionMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="SolutionMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Solution instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ImpactStructural -->
  <xsd:element name="impactStructural" type="ImpactStructural" substitutionGroup="impactLevels" />
  <xsd:complexType name="ImpactStructural">
    <xsd:complexContent>
      <xsd:extension base="ImpactLevels">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ImpactStructural Moniker -->
  <xsd:element name="impactStructuralMoniker" type="ImpactStructuralMoniker" substitutionGroup="impactLevelsMoniker" />
  <xsd:complexType name="ImpactStructuralMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ImpactStructural instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ImpactLevelsMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ImpactLevels -->
  <xsd:element name="impactLevels" type="ImpactLevels" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ImpactLevels">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ImpactLevelsHasConcerns -->
          <xsd:element name="concerns" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ImpactLevelsHasConcerns</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="impactLevelsHasConcerns" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ImpactLevelsHasConcerns needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ImpactLevels Moniker -->
  <xsd:element name="impactLevelsMoniker" type="ImpactLevelsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ImpactLevelsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ImpactLevels instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ImpactEnabling -->
  <xsd:element name="impactEnabling" type="ImpactEnabling" substitutionGroup="impactLevels" />
  <xsd:complexType name="ImpactEnabling">
    <xsd:complexContent>
      <xsd:extension base="ImpactLevels">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ImpactEnabling Moniker -->
  <xsd:element name="impactEnablingMoniker" type="ImpactEnablingMoniker" substitutionGroup="impactLevelsMoniker" />
  <xsd:complexType name="ImpactEnablingMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ImpactEnabling instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ImpactLevelsMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Concern -->
  <xsd:element name="concern" type="Concern" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Concern">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ConcernReferencesTargetConcerns -->
          <xsd:element name="targetConcerned" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ConcernReferencesTargetConcerns</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="concernReferencesTargetConcerns" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ConcernReferencesTargetConcerns needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Concern Moniker -->
  <xsd:element name="concernMoniker" type="ConcernMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ConcernMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Concern instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Legend -->
  <xsd:element name="legend" type="Legend" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Legend">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Legend Moniker -->
  <xsd:element name="legendMoniker" type="LegendMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="LegendMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Legend instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TemporaryConcern -->
  <xsd:element name="temporaryConcern" type="TemporaryConcern" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TemporaryConcern">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TempName -->
        <xsd:attribute name="tempName" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TemporaryConcern Moniker -->
  <xsd:element name="temporaryConcernMoniker" type="TemporaryConcernMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TemporaryConcernMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TemporaryConcern instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SoSAHasImpactLevels -->
  <xsd:element name="soSAHasImpactLevels" type="SoSAHasImpactLevels" substitutionGroup="core:modelElement" />
  <xsd:complexType name="SoSAHasImpactLevels">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ImpactLevels -->
          <xsd:element ref="impactLevels" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SoSAHasImpactLevels Moniker -->
  <xsd:element name="soSAHasImpactLevelsMoniker" type="SoSAHasImpactLevelsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="SoSAHasImpactLevelsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SoSAHasImpactLevels instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SoSAHasLegend -->
  <xsd:element name="soSAHasLegend" type="SoSAHasLegend" substitutionGroup="core:modelElement" />
  <xsd:complexType name="SoSAHasLegend">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Legend -->
          <xsd:element ref="legend" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SoSAHasLegend Moniker -->
  <xsd:element name="soSAHasLegendMoniker" type="SoSAHasLegendMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="SoSAHasLegendMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SoSAHasLegend instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ImpactImmediateHasSolution -->
  <xsd:element name="impactImmediateHasSolution" type="ImpactImmediateHasSolution" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ImpactImmediateHasSolution">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Solution -->
          <xsd:element ref="solution" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ImpactImmediateHasSolution Moniker -->
  <xsd:element name="impactImmediateHasSolutionMoniker" type="ImpactImmediateHasSolutionMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ImpactImmediateHasSolutionMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ImpactImmediateHasSolution instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SoSAHasTemporaryConcerns -->
  <xsd:element name="soSAHasTemporaryConcerns" type="SoSAHasTemporaryConcerns" substitutionGroup="core:modelElement" />
  <xsd:complexType name="SoSAHasTemporaryConcerns">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end TemporaryConcern -->
          <xsd:element ref="temporaryConcern" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SoSAHasTemporaryConcerns Moniker -->
  <xsd:element name="soSAHasTemporaryConcernsMoniker" type="SoSAHasTemporaryConcernsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="SoSAHasTemporaryConcernsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SoSAHasTemporaryConcerns instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ImpactLevelsHasConcerns -->
  <xsd:element name="impactLevelsHasConcerns" type="ImpactLevelsHasConcerns" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ImpactLevelsHasConcerns">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Concern -->
          <xsd:element ref="concern" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ImpactLevelsHasConcerns Moniker -->
  <xsd:element name="impactLevelsHasConcernsMoniker" type="ImpactLevelsHasConcernsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ImpactLevelsHasConcernsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ImpactLevelsHasConcerns instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SolutionReferencesConcerns -->
  <xsd:element name="solutionReferencesConcerns" type="SolutionReferencesConcerns" substitutionGroup="core:modelElement" />
  <xsd:complexType name="SolutionReferencesConcerns">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Concern -->
          <xsd:element ref="concernMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Sign -->
        <xsd:attribute name="sign" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SolutionReferencesConcerns Moniker -->
  <xsd:element name="solutionReferencesConcernsMoniker" type="SolutionReferencesConcernsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="SolutionReferencesConcernsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SolutionReferencesConcerns instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ConcernReferencesTargetConcerns -->
  <xsd:element name="concernReferencesTargetConcerns" type="ConcernReferencesTargetConcerns" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ConcernReferencesTargetConcerns">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Concern -->
          <xsd:element ref="concernMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Sign -->
        <xsd:attribute name="sign" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ConcernReferencesTargetConcerns Moniker -->
  <xsd:element name="concernReferencesTargetConcernsMoniker" type="ConcernReferencesTargetConcernsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ConcernReferencesTargetConcernsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ConcernReferencesTargetConcerns instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
</xsd:schema>

